<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.yoadey.choreomusic">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChoreoMusicHelper">
        <service android:name=".model.PlaybackControl"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChoreoMusicHelper.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            Explicitely disable intent for associating app with the mime type, as this path cannot be restored on next open -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:scheme="content"-->
<!--                      android:mimeType="audio/mpeg"/>-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/Theme.ChoreoMusicHelper.NoActionBar"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.yoadey.choreomusic.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- resource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>